<div class="domain">
  <section class="block block--path-bottom container">
    <header class="block__header block__center-align">
      <h2 class="block__heading domain__heading">Starting at $10 per month</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
        exercitationem?
      </p>
    </header>
    <div class="input-group">
      <input
        type="text"
        class="input"
        placeholder="Enter domain name here..."
      />
      <button class="btn btn--accent">
        <svg class="icon icon--accent">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
        search
      </button>
    </div>
  </section>
  <ul class="list domain__grid--coll2">
    <li><span class="badges badges--secondary">.com $9 </span></li>
    <li>.sg $10</li>
    <li>.space $11</li>
    <li>.info $14</li>
    <li>.net $10</li>
    <li>.xyz $10</li>
  </ul>
</div>
