<div class="features-block">
  <section class="block block--path-bottom container">
    <header class="block__header block__center-align">
      <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
      <p class="featurs__block-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed,
        voluptatem.
      </p>
    </header>
  </section>
  <div class="grid grid--coll2 container feature--center-align feature">
    <section class="feature__section">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </div>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="#" class="arrow-link">learn more</a>
    </section>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
      /></picture
    >
  </div>
  <div class="grid grid--coll2 container feature--center-align feature">
    <section class="feature__section">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </div>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="#" class="arrow-link">learn more</a>
    </section>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/fast.jpg 1x, images/fast@2x.jpg 2x"
      />
      <img class="feature__image" src="images/fast@2x.jpg" alt="" />
      /></picture
    >
  </div>
  <div class="grid grid--coll2 container feature--center-align feature">
    <section class="feature__section">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </div>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="#" class="arrow-link">learn more</a>
    </section>
    <picture>
      <source
        type="image/webp"
        srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x" />
      <source
        type="image/jpg"
        srcset="images/wordpress.jpg 1x, images/wordpress@2x.jpg 2x" />
      <img class="feature__image" src="images/wordpress@2x.jpg" alt=""
    /></picture>
  </div>
  <div class="grid grid--coll2 container feature--center-align feature">
    <section class="feature__section">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </div>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="#" class="arrow-link">learn more</a>
    </section>
    <picture>
      <source
        type="image/webp"
        srcset="images/support.webp 1x, images/support@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/support.jpg 1x, images/support@2x.jpg 2x"
      />
      <img class="feature__image" src="images/support@2x.jpg" alt="" />
      /></picture
    >
  </div>
</div>
