<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapse collapse--expanded">
      <header class="collapse__header">
        <h2 class="collapse__heading">products</h2>
        <img
          class="icon icon--accent collapse__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapse__body collapse__conten">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated</a></li>
          <li><a href="#">Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapse collapse--expanded">
      <header class="collapse__header">
        <h2 class="collapse__heading">COMPANY</h2>
        <img
          class="icon icon--accent collapse__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapse__body collapse__conten">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapse collapse--expanded">
      <header class="collapse__header">
        <h2 class="collapse__heading">SUPPORT</h2>
        <img
          class="icon icon--accent collapse__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapse__body collapse__conten">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapse collapse--expanded">
      <header class="collapse__header">
        <h2 class="collapse__heading">DOMAINS</h2>
        <img
          class="icon icon--accent collapse__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapse__body collapse__conten">
        <ul class="list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="fotter__copyright">Copyright 2022 Siamak Taheri</p>
    </section>
  </div>
</footer>
