<nav class="navBar collapse">
  <img class="logo__image icon--primary" src="images/logo.svg" alt="" />
  <svg class="icon icon--accent navBar__icon">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list navBar__list collapse__conten">
    <li class="navBar__item"><a href="#">Hosting</a></li>
    <li class="navBar__item"><a href="#">VPS</a></li>
    <li class="navBar__item"><a href="#">Domain</a></li>
    <li class="navBar__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
