<section class="block block--path-bottom container">
  <header class="block__header block__center-align">
    <h2 class="block__heading">What our Customers are Saying</h2>
    <p class="block__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ipsam.
    </p>
  </header>
</section>
<div class="card testimonail">
  <div class="grid grid--coll2">
    <div class="testimonail__image-container">
      <img
        class="testimonail__image"
        src="/images/testimonial.jpg"
        alt="A happy, smiling customer."
      />
      <div class="icon-container testimonail__icon icon-container--accent">
        <svg class="icon icon--accent">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </div>
    </div>
    <blockquote class="quote">
      <p class="quote__body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore
        culpa nesciunt, accusantium ea magnam earum qui nemo cum officia
        voluptatem a, corrupti, totam odio laborum.
      </p>
      <div class="media">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
        <div class="media__body">
          <h3 class="media__header quote__author">John Sina</h3>
          <p class="quote__autor-company">WWA Company</p>
        </div>
      </div>
    </blockquote>
  </div>
</div>
